


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.parent {
    width: 100%;
    height: fit-content;
    max-height: fit-content;
    display: flex;
    justify-content: space-around;
    padding: 35px;
    padding-top: 50px;
    background-color: #89B7D6;
    flex-wrap: wrap;
    div {
        margin: 25px;
    }
    .contacts {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1{
            border-bottom: 2px solid lightblue;
            font-family: "Audiowide";
            color: rgb(37, 37, 37);
            text-align: center;
        }
        p{
            font-family: "Audiowide";
            font-size: 120%;
            margin: 5px;
        }
        i {
            margin: 5px !important;
            cursor: pointer;
            span {
                margin: 5px;
            }
        }
    }
    .navigate {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1 {
            border-bottom: 2px solid lightblue;
            font-family: "Audiowide";
            color: rgb(37, 37, 37);
            text-align: center;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        li {
            font-family: "Audiowide";
            list-style: none;
            cursor:default;
            transition: 0.5s;
            font-size: 130%;
            
        }
        li:hover {
            color: rgb(0, 192, 128);
        }
        li:active {
            color: aqua;
        }
    }
}


@media (max-width: 665px) {
    .parent {
        div {
            align-items: center;
        }
    }

}